@import "tailwindcss";

@theme {
    --color-brand-deep: #450d2c;
    --color-brand-light: #fffceb;
    --color-brand-pink: #ffccd5;
}

:root {
    --background: #ffffff;
    --foreground: #111827;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.asana-gradient {
    background: linear-gradient(135deg, #450d2c 0%, #1a0511 100%);
}

.tasktorch-gradient {
    background: linear-gradient(135deg, #ef4444 0%, #be123c 100%);
}

.glass-card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-pill {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}